*{margin:0;padding:0;box-sizing:border-box}
ul,ol{list-style:none}
a{color:inherit;text-decoration: none}
input{font:inherit}
body{
    color:#D4D4D4;
    background:black;
    font-size:14px;
    line-height:1.5;
    background:url('../img/index/bodybackground.jpg') fixed center center no-repeat;
    background-size: cover;
}
.page{

}
.newSong{
    margin:10px 0;
    text-align:center;
    padding:10px;
    background:rgba(255,255,255,0.1);
}
.newSong.active,.newSong:hover{
    background:rgba(255,255,255,0.3);
}
.page{
    max-width:80%;
    margin:0 auto;
}
.page > .mainPage{
    width:100%;
    display:flex;
    flex-direction: column;
}
.uploadArea{
    max-width:80%;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:10px;
    background:rgba(255,255,255,0.1);
}
.draggable{
    height:200px;
	border:1px dashed black;
	border-radius: 4px;
    cursor: pointer;
}
.clickable{
    display:flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    height:100%;
    padding:20px;
}
#songList-container{

}
.songList{
    text-align:left;
}
.songList > li{
    background:rgba(255,255,255,0.1);
    border:1px solid #999;
    border-radius:2px;
    padding:10px;
    margin:10px 0;
}
.songList > li:hover{
    background:rgba(255,255,255,0.3);
}
.songList > li.active{
    background:rgba(255,255,255,0.3);
}
/*main*/
main{
    text-align: center;
}
main>h1{
    font-weight:inherit;
    font-size:20px;
    max-width:80%;
    margin:0 auto;
}
.form{
    font-size:16px;
    margin:0 auto;
    max-width:80%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form > .row{
    display:flex;
    margin-top:10px;
}
.form input[type=text]{
    border:1px solid #999;
    border-radius: 3px;
    padding:3px 8px;
    height:30px;
}
input{
    background:rgba(255,255,255,0.1);
    color:#D4D4D4;
}
.form input[type=button],
.form input[type=submit],
.form button{
    font-size:16px;
    height:30px;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    border:1px solid #999;
    margin-left:4em;
}
.form > .row > label{
    width:4em;
    display:flex;
    justify-content: center;
    align-items: center;
}
.page > main{
    padding-left:20px;
    background:#d4d4d4;
}
/*上传时动画*/
.loading.active{
    visibility: visible;
}

.loading{
    visibility: hidden;
    height:100vh;
    width:100%;  
    position:fixed;    
    top:0;
    left:0;
    justify-content: center;
    align-items:center; 
    display:flex;
    z-index:1;
}
.loading::before,.loading::after{
    content:'';
    position:absolute;
    background:black;
    width:0px;
    height:0px;
    border-radius:50%;
    animation:loadings 1.5s infinite linear;
}
.loading::after{
    animation:loadings 1.5s infinite linear 0.7s;
}

@keyframes loadings{
  0%{
    width:0px;
    height:0px;
    opacity:1;
  }
  100%{
    width:100px;
    height:100px;
    opacity:0;
  }
}