*{margin:0;padding:0;box-sizing: border-box;list-style: none;}
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
}
body{
    padding-top:63px;
}

.dist-content{
    width:248px;
}
.point{
    width:84px;
    height:122px;
}
.cd-border{
    width:248px;
    height:248px;
}
.cd-light{
    width:248px;
    height:248px;
}
.cd-cover{
    width:150px;
    height:150px;
}
.play-button{
    width:50px;
    height:50px;
}

