*{margin:0;padding:0;box-sizing: border-box;list-style: none;}
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
}
body{
    padding-top:80px;
}
.dist-content{
    width:296px;
}
.point{
    width:96px;
    height:137px;
}
.cd-border{
    width:296px;
    height:296px;
}
.cd-light{
    width:296px;
    height:296px;
}
.cd-cover{
    width:184px;
    height:184px;
}
.play-button{
    width:56px;
    height:56px;
}
